<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        <link rel="icon" href="/images/icon.svg"/>
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>
            This site was created by Martin Seckar. It uses data from mapbox.com and weatherstack.com.
        </p>
        <img class="portrait" src="/images/picture.jpeg"/>
        </div>
        {{>footer}}
    </body>
</html>