<!DOCTYPE html>
<html>
    <head>
        <title> {{title}} </title>
        <link rel="icon" href="/images/icon.svg"/>
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>
                {{help_message}}
            </p>
        </div>
        {{>footer}}
    </body>
</html>